<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Κεντρική Σελίδα</title>
  <link rel="stylesheet" th:href="@{/css/styleHome.css}" />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Διαχείριση Διπλωματικών</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myprofile">Προφίλ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/diploma">Διπλωματικές Εργασίες</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/applications">Αιτήσεις</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/supervised">Ενεργή Διπλωματική Εργασία</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Αποσύνδεση</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid text-center">
    <div><h2>Επισκόπηση Εφαρμογής</h2> <br>
      <p> Ο σκοπός της εφαρμογής αυτής είναι να επιτρέπει στους μαθητές να επιλέγουν ανάμεσα σε διαθέσιμες διπλωματικές εργασίες από διάφορους καθηγητές και να υποβάλλουν
        αίτηση για ανάληψη διπλωματικής που τους ενδιαφέρει. Η εφαρμογή επιπλέον, επιτρέπει στους καθηγητές να αναθέτουν διπλωματικές στους μαθητές και να παρακολουθούν την
        πορεία εκπόνησής τους.
      </p>
    </div>
  </div>
</body>
</html>